/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Header styles */
h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #666;
    border-bottom: 2px solid #f4f4f9;
    padding-bottom: 10px;
}

/* Form styles */
#form-container {
    margin-bottom: 20px;
}

#person-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px; /* Adjusted for better spacing between columns and rows */
}

#person-form div {
    display: flex;
    flex-direction: column;
}

#person-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#person-form input[type="text"],
#person-form input[type="date"],
#person-form input[type="url"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#person-form input[type="text"]::placeholder,
#person-form input[type="date"]::placeholder,
#person-form input[type="url"]::placeholder {
    color: #ccc;
}

#person-form .btn-add-person {
    grid-column: 1 / -1;
    padding: 10px;
    background-color: #e242af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#person-form .btn-add-person:hover {
    background-color: #f314d6;
}

/* List styles */
#list-container {
    margin-bottom: 20px;
}

#person-list {
    list-style-type: none;
    padding: 0;
}

.person-item {
    padding: 10px;
    background-color: #f9f9f9;   
    margin-bottom: 5px;    
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.person-item:hover {
    background-color: #f0f0f0;
    color: #f30df3;
}

/* Clear data button styles */
.btn-clear-data {
    padding: 10px;
    background-color: #8f4fd9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
}

.btn-clear-data:hover {
    background-color: #b408f3;
}
